
@{
    ViewData["Title"] = "About Us";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 d-flex justify-content-center"><img class="card-img-top mb-5 mb-md-0 max-width-img mx-auto" src="~/images/AuroraBricks.png" alt="Auroa Bricks" width="300px" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Meet Aurora Brickwell</h1>
                <p class="lead">

                    Aurora Brickwell isn't just another LEGO enthusiast; she's a TikTok-based LEGO influencer with a passion for building and sharing her creations. With her captivating content and infectious enthusiasm, Aurora has amassed a loyal following who eagerly await her next masterpiece.
                </p>
                <h3>From TikTok to Your Doorstep</h3>
                   
                <p class="lead">
                    As Aurora's following grew, so did the demand for her unique LEGO creations. Inspired by the overwhelming support and encouragement from her followers, Aurora decided to take her passion to the next level by launching Aurora Bricks.
                    This website serves as a platform to showcase her creations and make the process of acquiring them easier for her fans.
                </p>
            </div>
        </div>
        <br />
        <h3>Craftsmanship and Creativity.</h3>
        <p class="lead">
            At Aurora Bricks, each creation is meticulously designed and crafted with the utmost attention to detail. From intricate cityscapes to iconic landmarks, Aurora and her team pour their creativity and expertise into every build, ensuring that each piece is truly one-of-a-kind.
        </p>        
        <h3>Gratitude and Appreciation</h3>
        <p class="lead">
            Aurora Brickwell and the entire team at Aurora Bricks are incredibly grateful for the unwavering support and enthusiasm shown by their followers. It's thanks to this community of LEGO lovers that Aurora's passion has blossomed into something truly extraordinary. Every like, comment, and share fuels their creativity and drives them to continue pushing the boundaries of LEGO artistry.
        </p>
        <h3>Join the Aurora Bricks Community</h3>
        <p class="lead">
            Whether you're a seasoned LEGO collector or a newcomer to the world of bricks, Aurora Bricks invites you to join their community of like-minded enthusiasts. Explore their collection of stunning creations, follow along on their journey through social media, and be inspired to unleash your own creativity with LEGO.
            Thank you for being a part of the Aurora Bricks family. Together, let's build something amazing!
        </p>
    </div>
</section>
