@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order

<h1>@Model.TransactionId has been successfully added in the database.</h1>
<a class="btn btn-light" asp-controller="Home" asp-action="ProductList">View Products</a>