@{
    ViewData["Title"] = "Delete Product Confirmation";
}

@model Product

<h1>@Model.Name has been successfully deleted from the database.</h1>
<a class="btn btn-light" asp-controller="Home" asp-action="ProductList">View Products</a>
