@{
    ViewData["Title"] = "Product Updates";
}

@model Product

<h1>@Model.Name has been successfully added/updated in the database.</h1>
<a class="btn btn-light" asp-controller="Home" asp-action="ProductList">View Products</a>
