@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AuroraBricks</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        @* <div class="btn-primary text-white p-2"> *@
        <div class="btn-primary text-white p-2" style="background-color: #add8e6; border-color: #add8e6;">

		    <span class="navbar-brand m-lg-2">AuroraBricks</span>
	</div>

        <div class="m-1 p-1">
            @RenderBody()
        </div>
    </body>
</html>
