@import url('site.css');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.max-width-img {
    width: 100%; /* Allow image to be dynamic */
    max-width: 100%; /* Limit image width to its container */
}

@media (min-width: 375px) { /* Change 992px to your desired breakpoint */
    .max-width-img {
        max-width: 375px; /* Change this value to your desired maximum width */
    }
}

.btn-primary {
    background-color: #add8e6; /*pastel blue*/
    border-color: #add8e6;
}

.btn-info {
    background-color: #add8e6; /*pastel blue*/
    border-color: #add8e6;
}

.btn-grey {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}

.btn-danger {
    background-color: #CFAB97;
    border-color: #CFAB97;
}

CFAB97
.bg-img {
    background-image: url("../images/Header.png");
    background-size: contain; /* Make the background image cover the entire container while maintaining its aspect ratio */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the background image */
    height: 500px; /* Initial height of the container */
}

/*css for cookie button*/
/* Cookie Consent Banner Styles */
.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0 -2px 5px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
}

    .cookie-consent-banner p {
        margin: 0;
        font-size: 14px;
    }

    .cookie-consent-banner .cookie-settings,
    .cookie-consent-banner .accept-cookies {
        margin-left: 10px;
        padding: 5px 15px;
        font-size: 14px;
        color: white;
    }

    /*.cookie-consent-banner .cookie-settings {
        background-color: #606060;*/ /* Grey */
    /*}*/

    .cookie-consent-banner .accept-cookies {
        background-color: #add8e6; /* pastel blue */
    }

    .cookie-consent-banner .close-banner {
        background: none;
        border: none;
        font-size: 20px;
        color: #606060;
    }

/* Hide the banner initially */
#cookieConsentBanner {
    display: none;
}